* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #f4f6f8;
  color: #1f2937;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

.top-bar {
  padding: 8px 16px;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e7eb;
}

.top-bar input[type="file"] {
  font-size: 12px;
}

.main {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.sidebar {
  width: 150px;
  background-color: #ffffff;
  border-right: 1px solid #e5e7eb;
  padding: 10px;
  flex-shrink: 0;
}

.sidebar h4 {
  margin: 0 0 12px;
  font-size: 12px;
  font-weight: 600;
  color: #0b0b0b;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

.selectorbar {
  width: 130px;
  border-right: 1px solid #e5e7eb;
  padding: 10px;
  overflow-y: auto;
}

.column-title{
  font-size: 12px;
}

.column-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 4px;
  border-radius: 6px;
  cursor: pointer;
}

.column-item:hover {
  background-color: #f3f4f6;
}

.column-item input {
  cursor: pointer;
}

.column-item span {
  font-size: 14px;
}

.content {
  flex: 1;
  padding: 16px;
  width: 100%;
  overflow: auto;
  background-color: #f9fafb;
  width: calc(100dvw - 300px);
}

.selectorpanel-item{
  font-size: 12px;
}

.content .innerContent {
  width: 100%;
}

.content p {
  font-size: 14px;
  color: #6b7280;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  border-collapse: collapse;
  min-width: max-content;
}

thead {
  background-color: #f3f4f6;
}

th {
  text-align: left;
  padding: 10px 12px;
  font-size: 13px;
  font-weight: 600;
  color: #374151;
  border-bottom: 1px solid #e5e7eb;
}

thead th {
  position: sticky;
  top: 0;
  background: white;
  z-index: 2;
}

td {
  padding: 6px 8px;
  font-size: 12px;
  border-bottom: 1px solid #e5e7eb;
  color: #1f2937;
}

tbody tr:nth-child(even) {
  background-color: #f9fafb;
}

tbody tr:hover {
  background-color: #eef2ff;
}




.drag-overlay {
  padding: 8px 12px;
  font-size: 10px;
  background: transparent;
  color: black;
  cursor: grabbing;
}

button {
  background-color: #7bc37d; 
  border: none; 
  color: white; 
  padding: 4px 6px; 
  text-align: center; 
  display: inline-block;
  font-size: 12px; 
  margin: 4px 2px; 
  cursor: pointer;
  border-radius: 20px; 
}

.custom-file-upload {
  display: inline-block;
  padding: 4px 16px;
  font-size: 12px;
  cursor: pointer;
  background-color: #b4bac1;
  color: white;
  border-radius: 4px;
}
